<h1>Welcome to the home page of <Strong>HW Assignment: GET and POST checker</Strong></h1>
<h2>This is text to see how it works</h2>
<strong>http://flip3.engr.oregonstate.edu:8675/getpost</strong>
<em>Is that where you want to be?</em>
